---
layout: default
morris_version: 0.5.1
---
<div class="row docrow">
  <div class="span12 hero">
    <h1>morris.js 0.6</h1>
    <p class="tagline">
      Fork of Morris.js plugin with animation, labels and other improvements
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Jaguar 'E' Type vehicles in the UK</div>
      <div id="hero-graph" class="graph"></div>
      <div class="legend" style="text-align: center"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">iPhone CPU benchmarks</div>
      <div id="hero-bar" class="graph"></div>
      <div class="legend" style="text-align: center"></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Quarterly Apple iOS device unit sales</div>
      <div id="hero-area" class="graph"></div>
      <div class="legend" style="text-align: center"></div>
    </div>
  </div>
  <div class="span6">
    <div class="graph-container">
      <div class="caption">Donut flavours</div>
      <div id="hero-donut" class="graph"></div>
      <div class="legend" style="text-align: center"></div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="span3">
    <ul class="nav nav-list well">
      <li class="nav-header">Home</li>
      <li><a href="#getting_started">Getting started</a></li>
      <li><a href="#your_first_chart">Your first chart</a></li>
      <li><a href="#license">License</a></li>
    </ul>
  </div>

  <div class="span9" id="samples">

    {% capture getting_started %}{% include getting_started.md %}{% endcapture %}
    {{ getting_started|markdownify }}

    {% capture first_chart %}{% include your_first_chart.md %}{% endcapture %}
    {{ first_chart|markdownify }}

    {% capture what_next %}{% include what_next.md %}{% endcapture %}
    {{ what_next|markdownify }}

    {% capture license %}{% include license.md %}{% endcapture %}
    {{ license|markdownify }}

  </div>
</div>
